# Part 5: Feature Selection

In [149]:
import pandas as pd
from sklearn.feature_selection import VarianceThreshold
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression
from sklearn.feature_selection import mutual_info_regression
from sklearn.feature_selection import SelectFpr
import warnings
warnings.filterwarnings("ignore")

In [36]:
df = pd.read_csv("energy_consumption.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 33 columns):
date           19735 non-null object
Appliances     19735 non-null int64
lights         19735 non-null int64
T1             19735 non-null float64
RH_1           19735 non-null float64
T2             19735 non-null float64
RH_2           19735 non-null float64
T3             19735 non-null float64
RH_3           19735 non-null float64
T4             19735 non-null float64
RH_4           19735 non-null float64
T5             19735 non-null float64
RH_5           19735 non-null float64
T6             19735 non-null float64
RH_6           19735 non-null float64
T7             19735 non-null float64
RH_7           19735 non-null float64
T8             19735 non-null float64
RH_8           19735 non-null float64
T9             19735 non-null float64
RH_9           19735 non-null float64
T_out          19735 non-null float64
Press_mm_hg    19735 non-null float64
RH_out         19735 non-null float64
Windspeed      19735 non-null float64
Visibility     19735 non-null float64
Tdewpoint      19735 non-null float64
rv1            19735 non-null float64
rv2            19735 non-null float64
week_of_day    19735 non-null object
week_status    19735 non-null object
NSM            19735 non-null int64
week           19735 non-null int64
dtypes: float64(26), int64(4), object(3)
memory usage: 5.0+ MB

In [32]:
df.head(10)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2,week_of_day,week_status,NSM,week
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.20,44.790000,19.79,44.730000,19.000000,...,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433,Sunday,weekends,61200,2
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.20,44.722500,19.79,44.790000,19.000000,...,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195,Sunday,weekends,61800,2
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.20,44.626667,19.79,44.933333,18.926667,...,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668,Sunday,weekends,62400,2
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.20,44.590000,19.79,45.000000,18.890000,...,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389,Sunday,weekends,63000,2
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.20,44.530000,19.79,45.000000,18.890000,...,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097,Sunday,weekends,63600,2
5,2016-01-11 17:50:00,50,40,19.890000,46.026667,19.20,44.500000,19.79,44.933333,18.890000,...,92.000000,5.333333,43.833333,4.800000,44.919484,44.919484,Sunday,weekends,64200,2
6,2016-01-11 18:00:00,60,50,19.890000,45.766667,19.20,44.500000,19.79,44.900000,18.890000,...,92.000000,5.000000,40.000000,4.700000,47.233763,47.233763,Sunday,weekends,64800,2
7,2016-01-11 18:10:00,60,50,19.856667,45.560000,19.20,44.500000,19.73,44.900000,18.890000,...,91.833333,5.166667,40.000000,4.683333,33.039890,33.039890,Sunday,weekends,65400,2
8,2016-01-11 18:20:00,60,40,19.790000,45.597500,19.20,44.433333,19.73,44.790000,18.890000,...,91.666667,5.333333,40.000000,4.666667,31.455702,31.455702,Sunday,weekends,66000,2
9,2016-01-11 18:30:00,70,40,19.856667,46.090000,19.23,44.400000,19.79,44.863333,18.890000,...,91.500000,5.500000,40.000000,4.650000,3.089314,3.089314,Sunday,weekends,66600,2

## Removing features with low varaince

In [54]:
# df = df.drop(['week_of_day','week_status','date'], axis=1)
df.shape

(19735, 30)

In [55]:
selector = VarianceThreshold(threshold=.5)
selector.fit_transform(df)
df.shape

(19735, 30)

## Univariate feature selection

In [125]:
y = df['Appliances']
x = df.drop(['Appliances'], axis=1)
x.shape

(19735, 29)

### Comparison of F-test and mutual information
http://scikit-learn.org/stable/auto_examples/feature_selection/plot_f_test_vs_mi.html#sphx-glr-auto-examples-feature-selection-plot-f-test-vs-mi-py

In [146]:
selector = SelectKBest(f_regression, k='all').fit(x,y)
names = x.columns.values[selector.get_support()]
scores = selector.scores_[selector.get_support()]
names_scores=list(zip(names,scores))
ns_df = pd.DataFrame(data = names_scores, columns=['name','f_regression'])
f_test_df = ns_df.sort_values('f_regression',ascending = False)


selector = SelectKBest(mutual_info_regression, k='all').fit(x,y)
names = x.columns.values[selector.get_support()]
scores = selector.scores_c
names_scores=list(zip(names,scores))
ns_df = pd.DataFrame(data = names_scores, columns=['name','mutual_info'])
mutual_info_df = ns_df.sort_values('mutual_info',ascending = False)

pd.merge(f_test_df, mutual_info_df, on='name', how='outer')

           name  f_regression  mutual_info
0           NSM    976.560699     0.289282
1        lights    799.076292     0.046114
2        RH_out    468.470558     0.059053
3            T2    288.664211     0.081633
4            T6    276.909655     0.087465
5         T_out    195.934202     0.070005
6          RH_8    176.061071     0.081582
7     Windspeed    150.924181     0.018156
8          RH_1    147.140998     0.086515
9            T3    143.812455     0.109073
10         RH_6    137.474160     0.112791
11         RH_2     72.408319     0.075786
12         RH_7     61.284663     0.069521
13           T1     60.854665     0.100770
14         RH_9     52.398435     0.075722
15           T4     32.069964     0.120865
16           T8     30.949192     0.103185
17         RH_3     26.024394     0.078834
18  Press_mm_hg     24.043360     0.081801
19           T7     13.144888     0.108397
20           T5      7.707801     0.119695
21         RH_4      5.681303     0.072405
22    Tdewpoint      4.652459     0.043618
23         week      2.544991     0.069354
24          rv1      2.451324     0.000000
25          rv2      2.451324     0.000000
26           T9      1.977559     0.128265
27         RH_5      0.954444     0.077268
28   Visibility      0.001047     0.033739

In [153]:
selector = SelectFpr(f_regression,alpha=0.01).fit(x,y)
names = x.columns.values[selector.get_support()]
scores = selector.scores_[selector.get_support()]
names_scores=list(zip(names,scores))
ns_df = pd.DataFrame(data = names_scores, columns=['name','f_regression'])
fpr_df = ns_df.sort_values('f_regression',ascending = False)
fpr_df

           name  f_regression
0        lights    799.076292
3            T2    288.664211
11           T7    276.909655
19    Windspeed    195.934202
16        T_out    176.061071
2          RH_1    147.140998
5            T3    143.812455
12         RH_7    137.474160
4          RH_2     72.408319
14         RH_8     61.284663
1            T1     60.854665
18       RH_out     52.398435
7            T4     32.069964
15         RH_9     30.949192
6          RH_3     26.024394
20          NSM     24.043360
13           T8     13.144888
9            T6      7.707801
8            T5      5.681303
17  Press_mm_hg      1.977559
10         RH_6      0.954444

## Recursive feature elimination

## Feature selection using SelectFromModel